################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CollegeMajorsMVVM/.vs/CollegeMajorsMVVM/v16
