################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CollegeMajorsMVVM/.vs/CollegeMajorsMVVM/v16
/CollegeMajorsMVVM/CollegeMajorsMVVM/bin/Debug/netstandard2.0
/CollegeMajorsMVVM/CollegeMajorsMVVM/obj/Debug/netstandard2.0
